<p-table [columns]="headers" [value]="details" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
(onEditComplete)="complete($event)"
(onEditInit)="init($event)"
(onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
[(selection)]="test">
    <ng-template pTemplate="caption"> Student Data selected: {{ test.length }}</ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.field === 'select'; else elseBlock">
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                </ng-container>
                <ng-template #elseBlock>
                    <th>{{col.field | uppercase}}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-user let-expanded="expanded" let-rowData let-column>
        <tr>
            <ng-container *ngFor="let header of headers">
                <ng-container [ngSwitch]="header.type">
                    <ng-container *ngSwitchCase="'checkbox'">
                        <td >
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'expand'">
                        <td >
                            <button type="button" pButton pRipple [disabled]="!user.subject.length" [pRowToggler]="user" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'text'">
                        <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                            <app-textbox [field]="header.field" [user]="user"></app-textbox>
                        </td>
                    </ng-container>   
                    <ng-container *ngSwitchCase="'dropdown'">
                        <ng-container *ngIf="header.field === 'subject'; else elseBlock">
                            <td>
                                {{ user.subject | subject }}
                            </td>
                        </ng-container>
                        <ng-template #elseBlock>
                            <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                                <app-dropdown  [user]="user" [field]="header.field" [label]="header.optionLabel" [option]="header.options === 'countries' ? countries :
                                header.options === 'states' ? states : []">
                                </app-dropdown>
                            </td>
                        </ng-template>
                    </ng-container>
                    <ng-container *ngSwitchCase="'date'">
                        <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                            <app-calendar [user]="user" [field]="header.field"></app-calendar>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'number'">
                        <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                            <app-number [user]="user" [field]="header.field"></app-number>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'display'">
                        <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                            <app-display [user]="user"></app-display>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>   
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-user>
        <tr *ngFor="let subject of user.subject">
            <ng-container *ngFor="let header of headers">
                <ng-container [ngSwitch]="header.field">
                    <td *ngSwitchCase="'select'">
                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                    </td>
                    <td *ngSwitchCase="'expand'"></td>
                    <ng-container *ngSwitchCase="'subject'">
                        <td [pEditableColumn]="user" pEditableColumnField="subject">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject" optionLabel="subjectName"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subject.subjectName }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    <td *ngSwitchCase="'name'">{{user.name}}</td>
                    <td *ngSwitchCase="'dob'">{{ user.dob | date:'dd/MM/yyyy'}}</td>
                    <td *ngSwitchCase="'houseNo'">{{user.houseNo}}</td>
                    <td *ngSwitchCase="'street'">{{user.street}}</td>
                    <td *ngSwitchCase="'state'">{{user.state.stateName}}</td>
                    <td *ngSwitchCase="'country'">{{user.country.countryName}}</td>
                    <td *ngSwitchCase="'details'"></td>


                </ng-container>
                <!-- <ng-container *ngIf="header.field == 'subject'">
                    <td [pEditableColumn]="user" pEditableColumnField="{{header.field}}">
                        <app-dropdown  [user]="user" [field]="header.field" [label]="header.optionLabel" [option]="subjects"></app-dropdown>
                    </td>
                </ng-container>   -->
            </ng-container>
        </tr>
    </ng-template>
</p-table>

